.soft--skills__container {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 4rem auto 6rem auto;
  width: 80%;
}

.soft--skills__list {
  list-style: circle;
  font-size: 1.2rem;
}

.soft--skills__item {
  margin-bottom: 1rem;
}
