.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  height: 92vh;
  justify-content: center;
  margin: 0 auto;
  width: 25%;
}

.contact__container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__item {
  align-items: center;
  border: var(--green) solid 1px;
  border-radius: 5px;
  box-shadow: 10px 5px 15px 4px #7d7d7d;
  color: var(--black);
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0.7rem;
  text-decoration: none;
  transition: all ease 0.5s;
}

.contact__item:hover {
  background: var(--green);
}

@media (max-width: 680px) {
  .contact {
    height: 93vh;
    margin: 0 auto;
    width: 70%;
  }
}
