.contact {
    align-items:center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 92.7vh;
    justify-content: center;
    margin: 0 37.5%;
    width: 25%;
}

.contact__container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__item {
    align-items: center;
    border-color: var(--green);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 15px 4px #7D7D7D;
    color: var(--black);
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
    padding: .7rem;
    text-decoration: none;
}

.contact__item:hover {
    background: var(--green);
    transition: all ease .5s;
}