.about__info {
  align-items: center;
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 auto;
  padding-top: 5.65rem;
  width: 80%;
}

.about__photo {
  border-color: var(--green);
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  box-shadow: 4px 4px 10px 0px rgba(94, 94, 94, 0.7);
  width: 20%;
}

.about__name {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about__role {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.about__contain {
  align-items: flex-end;
  color: var(--black);
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: color ease-in-out 0.2s;
}

.about__contain:hover {
  color: var(--dark-green);
}

.about__github {
  margin-left: 0.5rem;
}

@media (max-width: 720px) {
  .about__info {
    justify-content: center;
    width: 90%;
  }

  .about__photo {
    width: 50%;
  }
}

@media (min-width: 1080px) {
  .about__photo {
    width: 20%;
  }
}
