.projects {
  font-family: "Poppins", sans-serif;
  padding: 8rem 7rem 4rem 7rem;
  text-align: center;
}

.projects h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
}

.projects__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
}

.card__img {
  padding-right: 3rem;
  width: 55%;
}

.card__img img {
  border-radius: 0.7rem;
  width: 100%;
}

.projects__card {
  align-items: center;
  border-radius: 1.2rem;
  border-width: 7px;
  border-style: solid;
  border-color: var(--dark-green);
  box-shadow: 3px 3px 15px 4px rgba(0, 173, 58, 0.3);
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 1.5rem;
  width: 100%;
}

.card__texts {
  width: 45%;
}

.card__tech {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
}

.card__title {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.card__description {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  line-height: 1.3rem;
  margin: 2rem 0;
}

.card__link {
  color: var(--dark-green);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.card__link:before {
  background-color: var(--dark-green);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.3s ease;
  visibility: hidden;
  width: 100%;
}

.card__link:hover:before {
  color: var(--dark-green);
  transform: scaleX(1);
  visibility: visible;
}

@media (max-width: 1060px) {
  .projects {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .projects__card {
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  .card__img {
    padding: 0;
    width: 80%;
  }

  .card__texts {
    width: 80%;
  }
}
