.footer {
  align-items: center;
  background: var(--black-background);
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  gap: 0.5rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.footer__link {
  color: var(--dark-green);
  text-decoration: none;
  transition: all ease 0.3s;
  position: relative;
  width: fit-content;
}

.footer__link:before {
  background-color: var(--dark-green);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.3s ease;
  visibility: hidden;
  width: 100%;
}

.footer__link:hover:before {
  color: var(--dark-green);
  transform: scaleX(1);
  visibility: visible;
}
