.footer {
  align-items: center;
  background: var(--black-background);
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  gap: 0.5rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.footer__link {
  color: var(--dark-green);
  text-decoration: none;
  transition: all ease 0.3s;
}

.footer__link:hover {
  color: var(--green);
  text-decoration: underline;
}
